body {
  font-family: Noto San JP, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif sans-serif;
  line-height: 1.6;
  margin: 0;
  background-color: #fff;
  color: #224466;
  font-size: 20px;
}

.container {
  max-width: 960px;
  margin: 5rem auto;
  padding: 1rem;
  text-align: center;
}

.featured{
  margin:5rem 0;
}

a{
  text-decoration: none;
  color: #224466;
}


img{
object-fit: cover;
}

h2{
  font-size: 24px;
}

.heading{
  display: inline-block;
  border-bottom: 2px solid #F62A00;
  margin: 2rem auto;
  font-size: 24px;
}


/* ヘッダー */
header {
  background-color: #fff;
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header .container,.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container{
  padding:1rem 0;
  margin: 0 auto;
}

header img {
  margin: 1rem;
  max-width: 40px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #224466;
}

/* ｆｖ */
#hero {
  max-width: 100%;
  background-image: url(../img/fv.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding:16rem 10rem 10rem;
}

#hero h1 {
  margin:0;
  font-size: 40px;
}

.circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  line-height: 40px;
  margin:1rem 1rem 0;
}

/* お知らせ */
#news {
  margin:6rem auto;
}

#news .container{
  display: flex;
  justify-content: space-between;
  padding:2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#news a{
  display: inline-block;
  color:#fff;
  background-color:#224466;
  border:2px solid #224466;
  margin-top:8rem;
  padding:0.25rem;
}

#news dl{
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
}

#news dt{
  width: 30%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom:1px solid #224466;
}

#news dd{
  width: 50%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom:1px solid #224466;
}


/* 診療科目・外来 */
#medicalsubject ul{
display: flex;
justify-content: space-between;
}

#medicalsubject a{
  display: block;
  max-width: 8rem;
  max-height: 8rem;
  border-radius: 50%;
  background: #F1F3CE;
  text-align: center;
  line-height: 8rem;
}

#medicalsubject img{
  max-width: 6rem;
  max-height: 6rem;
  object-fit: cover;
}

#medicalsubject li{
  max-width: 20%;
  text-align: center;
}


/* 当院で可能な検査・治療 */
#treatment .treatment-subcontainer{
  display: flex;
  justify-content: space-between;
}
#treatment .treatment-subcontainer:first-of-type{
  margin-top: 2rem;
}

#treatment img{
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
}

#treatment .treatment-subcontainer-text{
  padding:1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#treatment .treatment-subcontainer-text p{
  font-size: 16px;
  text-align: left;
  margin-top: 3.5%;
}


/* 当クリニックの概念 */
#concept .concept-subcontainer{
  display: flex;
  justify-content: space-between;
}

#concept img{
  border-radius: 20px;
}

#concept p{
  margin-top:5rem;
}


/* 当院長のご挨拶 */
#greet .greet-subcontainer{
  display: flex;
  justify-content: space-between;
}

.greet-subcontainer-text {
  max-width: 60%;
}

#greet p{
  text-align: left;
  margin-bottom: 1rem;
}

#greet h4{
  font-size: 22px;
  text-align: right;
  margin-right: 1rem;
}

/* 案内 */
#information{
  color: #fff;
  background-color: #00293C;
  padding:3rem 0;
  margin-top: 5%;
}

#information h5{
  font-size: 24px;
}

#information .container, .information-subcontainer-midashibox{
  display: flex;
  justify-content: space-between;
}

.information-subcontainer{
  width: 75%;
}

#information p{
  display: inline-block;
  text-align: left;
}

.information-subcontainer-midashibox_text{
  text-align: left;
}

.information-item{
  background-color: #1E656D;
  border-radius: 15px;
  margin:0 1rem 1rem 0;
  padding:0.2rem 0.5rem;
}

#information ul{
  text-align: left;
}

#information li{
  margin: 0.75rem;
}

#information table{
  width: 100%;
  border-collapse:separate;
  border-spacing: 0;
}

#information th, td{
  padding:0.25rem 0;
}

#information th{
  background-color: #1E656D;
}

#information td{
  color: #224466;
  background-color: #fff;
  border-bottom: 2px solid #a8b7c5;
}

/* フッター */
footer {
  background-color: #00293C;
  color: #fff;
  text-align: center;
  font-size: 0.8em;
  padding:1rem 0;
}


/* 当院について */
/* サブhero 当院について */
